.start-container, .high-score-container, .start-game{
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;

}
.start-container p, .start-game p{
    color: blue;
    
}

.menu-bar{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    /* float:right; */
}
.special-buttons, #line, .final-score, .submit-form, .high-score-container{
    display: none;
}
